<header>
    <h1>Placeholder Site Name</h1>
</header>

<nav>
    <ul>
        <li><a href="/">Home</a></li>
        <li><a href="/courses">Courses</a></li>
        <li><a href="/courses/create">Create Course</a></li>
        <li><a href="/schedule">My Schedule</a></li>
        <li class="profile"><a href="/profile">Profile</a></li>
    </ul>
</nav>