body {
    font-family: Arial, sans-serif;
    margin: 20px;
}

header {
    text-align: center;
    padding: 20px;
    background-color: #189bcc;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

th, td {
    border: 1px solid #dddddd;
    padding: 12px;
    text-align: left;
}

th {
    background-color: #189bcc;
}
nav ul {
    list-style-type: none;
    padding: 12px;
    overflow: hidden;
    background-color: #87ceeb;
}
nav li {
    display: inline;
    text-decoration: none;
}
li a {
    color: black;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}
li a:hover {color: #189bcc}
.active {
    font-weight: bold;
}
.profile {
    float: right;
}

/* For new course form --Keith */
.create-course {
    max-width: 400px;
    margin: 0 auto;
}
.create-course input {
    display: block;
    width: 100%;
    margin: 10px 0;
    padding: 8px;
}
.create-course label {
    display: block;
    margin-top: 24px;
}